numpy==1.24.2
matplotlib==3.7.1
scipy==1.10.1
pandas==2.0.0
scikit-learn==1.2.2
seaborn==0.12.2
notebook==6.5.4
bson==0.5.10
pymongo==4.3.3
PyYAML==6.0
tqdm==4.65.0
ipywidgets==8.0.6
tensorflow==2.12.0.0; sys_platform == 'linux'
tensorflow==2.12.0; sys_platform == 'linux2'
tensorflow-macos==2.12.0; sys_platform == 'darwin'
tensorflow-metal==0.8.0; sys_platform == 'darwin'
psynlig==0.2.2.dev0
pydot==1.4.2